.client-card {
    background: $white-color;
    margin: 1rem auto;
    padding: 1rem 2rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    p {
        color: $lightGray-color;
        font-size: 1.6rem;
    }

    h3 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .buttons{
        display: flex;
        justify-content: flex-end;
        .edit, .delete {
            color: $button-color;
            width: 2.5rem;
            height: 2.5rem;
    
            @media only screen and (max-width: 480px) {
                margin-top: 1rem;
                width: 4rem;
                height: 4rem;
            }
        }
        
        .edit:hover {
            color:$yellow-color;
        }
    
        .delete {
            margin-left: 1rem;
    
            &:hover {
                color:$red-color
            }
        }
        @media only screen and (max-width: 480px) {
            width: 100%;
        }
    }
}
