$primary-color: #74a8d9;
$secondary-color: #b5d0e6;
$background-color: #efefef;
$lightGray-color: #d6cfcf;
$darkGray-color: #dedede;
$input-color: #b1a9a9;
$white-color: #fff;
$black-color: #000;
$red-color: #ff0022;
$yellow-color: #f2d028;
$success-color: #80e977;
$button-color: #cac7c7;;
  
$font-base: Nunito, sans-serif;
