
header {
    background: $white-color;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 2px solid $darkGray-color;

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .mobile-header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 9rem;
        img {
            width: 90%;
        }
    }
    .header-toggle {
        cursor: pointer;
        margin: 0rem 1rem;

        svg {
            width: 3.5rem;
            height: 3.5rem;
            fill: $primary-color;
        }
      
        .close {
            display: none;
        }
      
        .menu {
            margin-top: 0.2rem;
        }
    }

    .header-checkbox {
        display: none;
    }

    .nav {
        display: flex;
        gap: 2rem;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        color: $primary-color;
        font-weight: 600;
        font-size: 1.5rem;
        flex-direction: column;

        li {
            list-style: none;
            margin-right: 0.5rem;
            border-radius: 100%;
            border: 1px solid $darkGray-color;

            &:first-child {
                border: none;
                border-radius: 0;
            }

            &:nth-child(3) {
                background: $primary-color;
                .MuiSvgIcon-root{
                    fill: #fff;
                }
            }
            &:last-child{
                margin-bottom: 1rem;
            }
        }
    
        .MuiSvgIcon-root {
            fill: $darkGray-color;
            width: 3.5rem;
            height: 3.5rem;
            padding: 0.5rem;
            
            &:hover:not(.last){
                opacity: 0.5;
            }
        }
    }
    .header-checkbox:checked ~ li {
        display: block!important;
    }
}

.header-checkbox:checked ~ label.header-toggle .close {
    display: block;
}

.header-checkbox:checked ~ label.header-toggle .menu {
    display: none;
}

// Desktop view
@media only screen and (min-width: 560px) {
    header {
        flex-direction: row;
        height: 8rem;

        .header-toggle {
            display: none;
        }
  
        .nav {
            flex-direction: row;
            li {
                display: flex;
                align-items: center;
                justify-content: center;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.hide{
    @media only screen and (max-width: 480px) {
       display: none;
    }
}